.poppi {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.lexend {
    font-family: 'Lexend Exa', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}